body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 345px;
  padding-left: 345px;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}



/* Add padding to container elements */
.container {
  padding: 16px;
  margin-left: 375px;
  margin-right: 375px;
}


a:link {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}



/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}


.valid:before {
  position: relative;
  left: -35px;
  content: "\2705"
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\274C"
}